header {
    font-family: "Noto Sans", sans-serif;
    font-size: 40px;
    position: fixed; z-index: 1000;
    width: 100%;
    height: 80px;
    background: #AADDEC;
    display: flex;
    align-items: center; 

    justify-content: center; 
    border-bottom: 1px solid black;

}



.pagename {
    font-family: "Noto Sans", sans-serif;
    color: black;
    text-decoration: none;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#menu-container #menu p {
  font-family: "Noto Sans", sans-serif;

}

#menu-container ul {
  list-style-type: disc;
  margin-left: 20px;
}
.menu-item:after {
  content: "\1405"; 
  font-size: 20px;
  margin-left: 15px; 
}


#menu-container #menu {

    position: absolute;

    top: 50%;
    left: 50px;
    transform: translate(0px, -50%);
    list-style: none;
    padding: 0;
    margin: 0;
  }

#menu-container#menu-container .menu {
  cursor: pointer;
}
  
#menu-container #menu li {
    position: relative;
  }

#menu-container  #menu li:not(:last-child)::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #000000;
    margin-top: 10px; 
  }
  
#menu-container #menu a {
    display: block;
    font-size: 30px;
    padding: 0px 0px;
    text-decoration: none;
    cursor: pointer
  }



#menu-container #menu a:hover {
    font-weight: bold;
  }
  
#menu-container #menu ul {
    width: 500px;
    transition: opacity 0.3s ease-in-out;
    position: absolute;
    top: 115%;
    left: -40px;
    display: none;
    background-color: #AADDEC;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  }
  
#menu-container #menu li.active > ul {
    display: block;
  }

  
#menu-container  #menu ul li {
    position: relative;
  }
  
#menu-container #menu ul ul {
    width: 500px;
    background-color: #AADDEC;
    left: 98%;
    top: 0;
  }


#toggle{
    position: absolute;
    right: 50px;
    color: black;
    width: 150px;
    background-color:  #d7e8ed;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer; 
    border: 1px solid black;
    border-radius: 5px;
}