body {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    background: #F1F1F1;
    margin: 0;
}

div.mainpage {
    margin: 20px;
    margin-top: 60px;
}

h1 {
    font-size: 45px;
    text-align: center;
    margin-top: 70px;
}

h3 {
    font-size: 25px;
}

div.information {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#bullet-points li {
    margin-left: -20px;
}

#bullet-points ul li:not(:last-child) {
    margin-bottom: 10px;
}

.stichpunkt {
    font-weight: bold;
    font-size: 20px;
    color: cornflowerblue;
}

.verknuepfung {
    color: black;
}

p.urheberrecht {
    margin-top: auto;
    text-align: center;
    opacity: 0.7;
}