body {
    display: flex;
    flex-direction: column;
    line-height: 1.6;
    background: #F1F1F1;
    margin: 0;
}

#mainpage {
    margin: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Noto Sans", sans-serif;
    color: black
}

h1 {
    font-size: 2.5em;
    text-align: center;
}

p {
    font-size: 1.1em;
    margin-bottom: 1.5em;
}

hr {
    border: 0;
    height: 1px;
    background: black;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}
header {

    width: 100%;
    min-height: 80px;
    background: #AADDEC;
    display: flex;
    align-items: center; 
    justify-content: center; /* Zentriert den gesamten Inhalt */
    

    border-bottom: 1px solid black;
    font-size: 32px;
}

.pagename {
    font-family: "Noto Sans", sans-serif;
    color: black;
    font-size: 40px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.inhalt {
    color: black;
    position: absolute;
    left: 50px;
    

}

#toggle{
    position: absolute;
    right: 50px;
    color: black;
    width: 150px;
    background-color:  #d7e8ed;
    
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    cursor: pointer; 
    border: 1px solid black;
    border-radius: 5px;


}





a {
    font-family: "Noto Sans", sans-serif;
    color: hotpink;
    text-decoration: none;
  }

